<div class="container-fluid h-100" style=" background-color: white ; color: black;">
  <div class="d-flex h-100 p-v-15 flex-column justify-content-between">
    <div class="d-none d-md-flex p-h-40">
      <img src="assets/images/logo/andlogo.png" alt="">
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 d-none d-md-block">
          <img class="img-fluid" src="assets/images/others/Registro.png" alt="">
        </div>
        <div class="m-l-auto col-md-5">
          <nz-card>
            <h2 class="m-t-20">Registrarse</h2>
            <p class="m-b-30">Cree su cuenta para obtener acceso</p>
            <form nz-form [formGroup]="signUpForm" nzLayout="horizontal" class="login-form" (ngSubmit)="submitForm()">

              <nz-form-item>
                <nz-form-label [nzSpan]="8" nzRequired nzFor="name">Nombre</nz-form-label>
                <nz-form-control nzHasFeedback [nzSpan]="16">
                  <input type="text" nz-input formControlName="firstName" placeholder="Nombre" id="firstName">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSpan]="8" nzRequired nzFor="lastName">Apellidos</nz-form-label>
                <nz-form-control nzHasFeedback [nzSpan]="16">
                  <input type="text" nz-input formControlName="lastName" placeholder="Apellidos" id="lastName">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="8" nzFor="email">Correo</nz-form-label>
                <nz-form-control nzHasFeedback [nzSpan]="16">
                  <input type="email" nz-input formControlName="email" placeholder="Correo Electrónico" id="email">
                </nz-form-control>
              </nz-form-item>

              <!-- Contraseña -->
              <nz-form-item>
                <nz-form-label nzFor="password" [nzSpan]="8" nzRequired>Contraseña</nz-form-label>
                <nz-form-control nzHasFeedback [nzSpan]="16">
                  <nz-input-group [nzSuffix]="passwordEye">
                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
                      placeholder="Contraseña" id="password" />
                  </nz-input-group>
                  <ng-template #passwordEye>
                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                      (click)="passwordVisible = !passwordVisible">
                    </i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <!-- Confirmar contraseña -->
              <nz-form-item>
                <nz-form-label nzFor="checkPassword" [nzSpan]="8" nzRequired>Confirmar</nz-form-label>
                <nz-form-control nzHasFeedback [nzSpan]="16" [nzErrorTip]="passwordErrorTpl">
                  <nz-input-group [nzSuffix]="confirmEye">
                    <input [type]="confirmVisible ? 'text' : 'password'" nz-input formControlName="checkPassword"
                      placeholder="Confirmar contraseña" id="checkPassword" />
                  </nz-input-group>
                  <ng-template #confirmEye>
                    <i nz-icon [nzType]="confirmVisible ? 'eye-invisible' : 'eye'"
                      (click)="confirmVisible = !confirmVisible"></i>
                  </ng-template>

                  <ng-template #passwordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('mismatch')">
                      Las contraseñas no coinciden
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                      Confirma tu contraseña
                    </ng-container>
                  </ng-template>
                </nz-form-control>

              </nz-form-item>


              <!-- Teléfono -->
              <nz-form-item>
                <nz-form-label [nzSpan]="8" nzFor="phoneNumber">
                  <span>
                    Teléfono <i nz-icon nz-tooltip nzTitle="¿En qué número telefónico te podemos contactar?"
                      type="question-circle" nzTheme="outline"></i>
                  </span>
                </nz-form-label>
                <nz-form-control [nzSpan]="16">
                  <input nz-input formControlName="phoneNumber" placeholder="81 1234 5678" id="phoneNumber"
                    name="phoneNumber" minlength="10" maxlength="10" />
                </nz-form-control>
              </nz-form-item>

              <!-- Empresa -->
              <nz-form-item>
                <nz-form-label [nzSpan]="8">Empresa</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select formControlName="customerId" nzAllowClear nzPlaceHolder="Selecciona la Empresa"
                    (ngModelChange)="onCustomerSelected($event)">
                    <nz-option *ngFor="let o of customers$ | async" nzCustomContent [nzLabel]="o.name" [nzValue]="o.id">
                      <i nz-icon></i> {{ o.name }}
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <!-- Aceptar términos -->
              <div class="d-flex align-items-center justify-content-between">
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="agreeErrorTpl">
                    <label nz-checkbox formControlName="agree">
                      <span>He leído y acepto los <a (click)="showModalTerms()">términos</a></span>
                    </label>
                  </nz-form-control>
                  <ng-template #agreeErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required') || control.hasError('requiredTrue')">
                      Debes aceptar los términos para continuar.
                    </ng-container>
                  </ng-template>
                </nz-form-item>

                <!-- Botón -->
                <nz-form-item>
                  <nz-form-control>
                    <div>
                      <button nz-button class="login-form-button"
                        style=" background-color: #4F6F57; color: #f6f3ea;">Registrarse</button>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </form>
          </nz-card>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>