
<div class="main">

	<div class="box">   
    <div class="centered-container">
      <img class="img" src='assets/images/logo/sanicologo.jpeg' style="height: 150px;">
      <h1>Política de Privacidad</h1>
      <p><strong>Última actualización:</strong> 03/06/2024</p>    
  </div>
          
      <p>Esta Política de Privacidad describe cómo SanNicoBus , utiliza y protege la información personal que usted proporciona al utilizar nuestra aplicación. Al utilizar nuestra aplicación, usted acepta las prácticas descritas en esta política.</p>
      
      <h2>1. Información que Recopilamos</h2>
      <p>Para ofrecerle la mejor experiencia posible, SanNicoBus  puede solicitar acceso a los siguientes datos:</p>
      <ul>
          <li><strong>Ubicación:</strong> Recopilamos datos de ubicación para proporcionar funciones basadas en la ubicación, como rutas precisas para ubicar la localizacion de la aplicacion.</li>
          <li><strong>Ubicación Precisa:</strong> Utilizamos datos de ubicación precisa para mejorar la exactitud de nuestras funciones basadas en la ubicación.</li>
          <li><strong>Ubicación en Segundo Plano:</strong> Recopilamos datos de ubicación en segundo plano para seguir proporcionando direcciones precisas incluso cuando la aplicación no está en uso.</li>
          <li><strong>Acceso a su Cámara:</strong> Solicitamos acceso a su cámara para escanear códigos QR.</li>
          <li><strong>Acceso a Notificaciones:</strong> Solicitamos acceso para enviarle notificaciones que le informen sobre eventos importantes, actualizaciones de la aplicación, y mensajes.</li>
      </ul>
      
      <h2>2. Uso de la Información</h2>
      <p>La información que recopilamos se utiliza únicamente para los siguientes propósitos:</p>
      <ul>
          <li>Proporcionar y mejorar nuestras funciones basadas en la ubicación.</li>
          <li>Mejorar la exactitud de nuestras funciones y productos.</li>
          <li>Permitirle usar las funciones de la cámara dentro de la aplicación.</li>
          <li>Enviarle notificaciones relevantes e informativas.</li>
      </ul>
      
      <h2>3. Control sobre su Información</h2>
    <p>Usted tiene el control sobre la información que comparte con nosotros. Puede optar por no proporcionar ciertos datos, sin embargo, esto puede limitar la funcionalidad de algunas características de la aplicación.</p>
    <ul>
        <li>Puede denegar el acceso a su ubicación, ubicación precisa y ubicación en segundo plano a través de la configuración de su dispositivo.</li>
        <li>Puede denegar el acceso a su cámara a través de la configuración de su dispositivo.</li>
        <li>Puede desactivar las notificaciones a través de la configuración de su dispositivo.</li>
    </ul>
    <p>Además, puede ver y gestionar los permisos otorgados a nuestra aplicación desde el menú de configuración de su dispositivo. Para hacerlo, siga estos pasos:</p>
    <ol>
        <li>Abra la aplicación de configuración en su dispositivo.</li>
        <li>Navegue a la sección de "Aplicaciones" o "Gestión de aplicaciones".</li>
        <li>Seleccione SanNicoBus de la lista de aplicaciones instaladas.</li>
        <li>En la página de información de la aplicación, puede ver y gestionar los permisos individuales otorgados a la aplicación.</li>
    </ol>
    <p>Si desea cambiar cualquier permiso, puede hacerlo desde esta sección. Tenga en cuenta que deshabilitar ciertos permisos puede afectar la funcionalidad de la aplicación.</p>
    <p>Esta política de privacidad detalla los datos que se solicitan, su uso, cómo los usuarios pueden gestionar estos permisos, y proporciona un enlace para la eliminación de la cuenta. Además, explica cómo los datos de ubicación en segundo plano se utilizan de manera efímera durante el proceso de la ruta y cómo los usuarios pueden detenerlo.</p>
    <h2>Gestión de permisos y datos de ubicación en segundo plano:</h2>
    <ul>
        <li>Los usuarios pueden ver y gestionar los permisos concedidos en la sección de configuración de la aplicación. Desde allí, pueden ver qué permisos tienen aceptados y acceder a la configuración en el dispositivo para administrarlos.</li>
        <li>Para la funcionalidad que requiere acceso en segundo plano y obtención efímera de coordenadas durante el proceso de la ruta, los usuarios pueden denegar el permiso o, si lo aceptan, pueden detenerlo saliendo de la funcionalidad donde se solicitó el permiso.</li>
    </ul>
  
      <h2>4. Eliminación de la Cuenta</h2>
      <p>Usted tiene el derecho de eliminar su cuenta en cualquier momento. Para eliminar su cuenta, por favor haga clic en el siguiente enlace:</p>
      <p><a href="https://appsand.mx/bajaUsuarioSNB" target="_blank">Eliminar mi cuenta</a></p>
      <p>Una vez eliminada su cuenta, toda su información personal será eliminada de nuestros servidores. Tenga en cuenta que la eliminación de su cuenta es irreversible y perderá acceso a todos los datos y productos asociados con su cuenta.</p>
      
      <h2>5. Seguridad de la Información</h2>
      <p>Nos comprometemos a proteger su información personal. Implementamos medidas de seguridad para asegurar sus datos contra accesos no autorizados, alteraciones, divulgación o destrucción.</p>
      
      <h2>6. Cambios en esta Política de Privacidad</h2>
      <p>Podemos actualizar esta Política de Privacidad periódicamente para reflejar cambios en nuestras prácticas o por otras razones operativas, legales o reglamentarias. Le notificaremos sobre cualquier cambio publicando la nueva política en esta página.</p>
      
      <h2>7. Contacto</h2>
      <p>Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad, puede ponerse en contacto con nosotros a través de 
        <strong>dev.bus2u&#64;gmail.com</strong> o numero de telefono <strong>8121084574</strong>.</p>
  </div>   

	
</div>
