<div>
  <nz-card>
    <nz-card-meta nzTitle="Condiciones generales de uso de venta"
      nzDescription="Actualizado el 2 de Febrero del 2022"></nz-card-meta>
    <nz-card-meta nzTitle="CONDICIONES DE USO"></nz-card-meta>

    <nz-card-meta nzTitle="1. ÁMBITO DE APLICACIÓN"></nz-card-meta>
    <p>
      Las presentes Condiciones de uso (“Condiciones”) regulan el acceso o uso que usted haga, como persona (dentro de
      los Estados Unidos Mexicanos) de aplicaciones, páginas web, contenido, productos
      puestos a disposición por Trayectos Inteligentes S.A de C.V (“And”). And es una sociedad mercantil
      constituida de conformidad con las leyes de los Estados Unidos Mexicanos, con domicilio en paseo de los leones
      #1210 Col. Cumbres 1er sector CP. 64610, Monterrey N.L., inscrita en el Registro Público de Comercio de la Ciudad
      de Monterrey, Nuevo León, con clave de Registro Federal de Contribuyentes TIN2001286I8.
      <br><br>
      LEA ESTAS CONDICIONES DETENIDAMENTE ANTES DE ACCEDER O USAR LOS PRODUCTOS.
      <br><br>
      Mediante su acceso y uso de los productos usted acuerda vincularse jurídicamente por estas Condiciones, que
      establecen una relación contractual entre usted y And. Si usted no acepta estas Condiciones, no podrá acceder o
      usar los productos. Estas Condiciones sustituyen expresamente los acuerdos o compromisos previos con usted. En
      caso de un incumplimiento a los presentes Términos y Condiciones por parte de usted, And podrá denegarle el
      acceso a su cuenta y/o a los productos. Por otro lado, And podrá modificar o poner fin a estos Términos y
      Condiciones o a cualquiera de los productos ofrecidos en las aplicaciones de manera total o parcial, mediante
      notificación previa a través de las aplicaciones y/o correo electrónico.
      <br><br>
      Se podrán aplicar condiciones adicionales a determinados productos, pudiendo consistir en, de manera enunciativa
      mas no limitativa, políticas para un evento específico a realizarse, actividades o promociones diversas, en el
      entendido que dichas condiciones adicionales le serán comunicadas y notificadas en relación con los productos a
      los que les resulten aplicables, teniendo en todo momento el derecho de negarse a participar en los mismos. Las
      condiciones adicionales se establecen además de los presentes Términos y Condiciones, y se considerarán una parte
      de estos para los fines de los productos aplicables. Las condiciones adicionales antes mencionadas prevalecerán
      sobre los presentes Términos y Condiciones, en el caso de conflicto con respecto a los productos aplicables.
      <br><br>
      Mediante notificación previa a través de las aplicaciones y/o por correo electrónico And podrá modificar las
      Condiciones relativas a los productos cuando lo considere oportuno. Las modificaciones serán efectivas después de
      la publicación por parte de And de dichas Condiciones actualizadas en esta ubicación o las políticas
      modificadas o condiciones adicionales sobre el Servicio aplicable. Su acceso o uso continuado de los productos
      después de dicha publicación constituye su consentimiento a vincularse por las Condiciones y sus modificaciones.
      <br><br>
      La recopilación y el uso que hacemos de la información personal en relación con los productos es conforme se
      dispone en la Política de privacidad de And, disponible en ''. And podrá facilitar a un procesador de
      reclamaciones o a una aseguradora cualquier información necesaria (incluida su información de contacto) si hubiera
      quejas, disputas o conflictos, que pudieran incluir un accidente, implicándole a usted y/o a un tercero (incluido
      el conductor de la compañía de transporte) y dicha información o dichos datos fueran necesarios para resolver la
      queja, la disputa o el conflicto.
    </p>

   
      <p>
        Las presentes Condiciones de uso (“Condiciones”) regulan el acceso o uso que usted haga, como persona (dentro de
        los Estados Unidos Mexicanos) de aplicaciones, páginas web, contenido, productos
        puestos a disposición por Trayectos Inteligentes S.A de C.V (“And”). And es una sociedad mercantil
        constituida de conformidad con las leyes de los Estados Unidos Mexicanos, con domicilio en paseo de los leones
        #1210 Col. Cumbres 1er sector CP. 64610, Monterrey N.L., inscrita en el Registro Público de Comercio de la
        Ciudad de Monterrey, Nuevo León, con clave de Registro Federal de Contribuyentes TIN2001286I8.
      </p>
      <p><strong>LEA ESTAS CONDICIONES DETENIDAMENTE ANTES DE ACCEDER O USAR LOS PRODUCTOS.</strong></p>
      <p>
        Mediante su acceso y uso de los productos usted acuerda vincularse jurídicamente por estas Condiciones, que
        establecen una relación contractual entre usted y And. Si usted no acepta estas Condiciones, no podrá acceder
        o usar los productos. Estas Condiciones sustituyen expresamente los acuerdos o compromisos previos con usted. En
        caso de un incumplimiento a los presentes Términos y Condiciones por parte de usted, And podrá denegarle el
        acceso a su cuenta y/o a los productos. Por otro lado, And podrá modificar o poner fin a estos Términos y
        Condiciones o a cualquiera de los productos ofrecidos en las aplicaciones de manera total o parcial, mediante
        notificación previa a través de las aplicaciones y/o correo electrónico.
      </p>
      <p>
        Se podrán aplicar condiciones adicionales a determinados productos, pudiendo consistir en, de manera enunciativa
        mas no limitativa, políticas para un evento específico a realizarse, actividades o promociones diversas, en el
        entendido que dichas condiciones adicionales le serán comunicadas y notificadas en relación con los productos a
        los que les resulten aplicables, teniendo en todo momento el derecho de negarse a participar en los mismos. Las
        condiciones adicionales se establecen además de los presentes Términos y Condiciones, y se considerarán una
        parte de estos para los fines de los productos aplicables. Las condiciones adicionales antes mencionadas
        prevalecerán sobre los presentes Términos y Condiciones, en el caso de conflicto con respecto a los productos
        aplicables.
      </p>
      <p>
        Mediante notificación previa a través de las aplicaciones y/o por correo electrónico And podrá modificar las
        Condiciones relativas a los productos cuando lo considere oportuno. Las modificaciones serán efectivas después
        de la publicación por parte de And de dichas Condiciones actualizadas en esta ubicación o las políticas
        modificadas o condiciones adicionales sobre el Servicio aplicable. Su acceso o uso continuado de los productos
        después de dicha publicación constituye su consentimiento a vincularse por las Condiciones y sus modificaciones.
      </p>
      <p>
        La recopilación y el uso que hacemos de la información personal en relación con los productos es conforme se
        dispone en la Política de privacidad de And, disponible en ''. And podrá facilitar a un procesador de
        reclamaciones o a una aseguradora cualquier información necesaria (incluida su información de contacto) si
        hubiera quejas, disputas o conflictos, que pudieran incluir un accidente, implicándole a usted y/o a un tercero
        (incluido el conductor de la compañía de transporte) y dicha información o dichos datos fueran necesarios para
        resolver la queja, la disputa o el conflicto.
      </p>
    
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="2. Servicios"></nz-card-meta>
   
      <p>
        Los Servicios constituyen una plataforma de tecnología que permite a los usuarios de aplicaciones móviles de And
         o páginas web proporcionadas como parte de los Servicios (cada una, una “Aplicación”) organizar y planear el
        transporte y/o servicios de logística con terceros proveedores independientes de dichos servicios, incluidos
        terceros transportistas independientes y terceros proveedores logísticos independientes, conforme a un acuerdo
        con And o algunos afiliados de And (“Terceros proveedores”), así como organizar y programar el acceso y
        uso de vehículos eléctricos, incluyendo transportes escolares y cualesquiera otros medios de transporte
        colectivo o de movilidad compartida. A no ser que And lo acepte mediante un contrato separado por escrito con
        usted, los Servicios se ponen a disposición solo para su uso personal, no comercial. USTED RECONOCE QUE AND
        NO PRESTA SERVICIOS DE TRANSPORTE O DE LOGÍSTICA O FUNCIONA COMO UNA EMPRESA DE TRANSPORTES Y QUE DICHOS
        SERVICIOS DE TRANSPORTE O LOGÍSTICA SE PRESTAN POR TERCEROS CONTRATISTAS, QUE NO ESTÁN EMPLEADOS POR AND NI
        POR NINGUNA DE SUS AFILIADOS.
      </p>
    
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Licencia"></nz-card-meta>
  
      <p>
        Sujeto al cumplimiento de estas Condiciones, And le otorga una licencia limitada, no exclusiva, no
        sublicenciable, revocable, no transferible para:
      </p>
      <p>
        (i) el acceso y uso de las Aplicaciones en su dispositivo personal solo en relación con su uso de los Servicios;
        y
      </p>
      <p>
        (ii) el acceso y uso de cualquier contenido, información y material relacionado que pueda ponerse a disposición
        a través de los Servicios, en cada caso solo para su uso personal, no comercial. And y sus licenciantes se
        reservan cualquier derecho que no haya sido expresamente otorgado por el presente.
      </p>
    
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Restricciones" ></nz-card-meta>
   
      <p>
        Usted no podrá:
      </p>
      <ol>
        <li>Retirar cualquier nota de derechos de autor, marca registrada u otra nota de propiedad de cualquier parte de
          los Servicios;</li>
        <li>Reproducir, modificar, preparar obras derivadas sobre los Servicios, distribuir, licenciar, arrendar,
          revender, transferir, exhibir públicamente, presentar públicamente, transmitir, retransmitir o explotar de
          otra forma los Servicios, excepto como se permita expresamente por And;</li>
        <li>Descompilar, realizar ingeniería inversa o desmontar los Servicios, excepto como se permita por la ley
          aplicable;</li>
        <li>Enlazar, reflejar o enmarcar cualquier parte de los Servicios;</li>
        <li>Causar o lanzar cualquier programa o script con el objeto de extraer, indexar, analizar o de otro modo
          realizar prospección de datos de cualquier parte de los Servicios o sobrecargar o bloquear indebidamente la
          operación y/o funcionalidad de cualquier aspecto de los Servicios; o</li>
        <li>Intentar obtener un acceso no autorizado o dañar cualquier aspecto de los Servicios o sus sistemas o redes
          relacionados.</li>
      </ol>   
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Prestación de los Servicios"></nz-card-meta>
  
      <p>
        Usted reconoce que partes de los Servicios podrán ponerse a disposición bajo varias marcas u opciones de pedidos
        de And asociadas con el transporte o los servicios logísticos, incluidas de manera enunciativa, mas no
        limitativa, las marcas de pedidos de transporte y/o de vehículos eléctricos, actualmente denominada “And”.
        Asimismo, usted reconoce que los Servicios podrán ponerse a disposición bajo dichas marcas por o en relación
        con:
      </p>
      <ol>
        <li>Ciertas subsidiarias o afiliados de And</li>
        <li>Terceros proveedores independientes, incluidos conductores de empresas de red de transportes, titulares del
          permiso de carta de transporte o titulares de permisos, autorizaciones o licencias de transporte similares.
        </li>
      </ol>
  
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Servicios y contenido de Terceros"></nz-card-meta>
  
      <p>
        Los Servicios podrán ponerse a disposición o ser accesible en relación con servicios y contenido de terceros
        (incluida la publicidad) que And no controle. Usted reconoce que podrán ser de aplicación diferentes
        condiciones y políticas de privacidad al uso que haga de dichos servicios y contenido de terceros. And no
        respalda dichos servicios y contenido de terceros y en ningún caso And será responsable de cualquier producto
        o servicio de dichos terceros proveedores. Adicionalmente, Apple Inc., Google, Inc., Microsoft Corporation o
        BlackBerry Limited y/o sus correspondientes subsidiarias o afiliados internacionales serán terceros
        beneficiarios en este contrato si usted accede a los Servicios utilizando Aplicaciones desarrolladas para
        dispositivos móviles con sistema iOS, Android, Microsoft Windows, respectivamente. Estos terceros beneficiarios
        no son parte de este contrato y no son responsables de la prestación o apoyo de los Servicios de ninguna manera.
        Su acceso a los Servicios utilizando estos dispositivos se sujeta a las condiciones establecidas en las
        condiciones de servicio de terceros beneficiarios aplicables.
      </p>
 
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Titularidad" ></nz-card-meta>
    
      <p>
        Los Servicios y todos los derechos relativos a estos son y permanecerán de la propiedad de And o de sus
        licenciantes. Ninguna de estas Condiciones ni su uso de los Servicios le transfieren u otorgan ningún derecho:
      </p>
      <ol>
        <li>Sobre o en relación con los Servicios, excepto en cuanto a la licencia limitada otorgada anteriormente; o
        </li>
        <li>A utilizar o mencionar en cualquier modo a los nombres de empresa, logotipos, nombres de producto y
          servicio, marcas comerciales o marcas de servicio de And o de sus licenciantes.</li>
      </ol>
   
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Uso de los Servicios"></nz-card-meta>
   
      <p>
        Con el fin de usar la mayor parte de los aspectos de los Servicios, usted debe registrarse y mantener activa una
        cuenta personal de usuario de los Servicios (“Cuenta”). El registro de la cuenta le requiere que comunique a And
         determinada información personal, como su nombre, dirección, número de teléfono móvil, así como por lo menos
        un método de pago válido (bien una tarjeta de crédito o bien un socio de pago aceptado). Usted se compromete a
        mantener la información en su Cuenta de forma exacta, completa y actualizada. Si no mantiene la información de
        Cuenta de forma exacta, completa y actualizada, incluso el tener un método de pago inválido o que haya vencido,
        podrá resultar en su imposibilidad para acceder y utilizar los Servicios o en la resolución por parte de And
        de estas Condiciones celebradas con usted. Usted es responsable de toda la actividad que ocurre en su Cuenta y
        se compromete a mantener en todo momento de forma segura y secreta el nombre de usuario y la contraseña de su
        Cuenta. A menos que And permita otra cosa por escrito, usted solo puede poseer una Cuenta.
      </p>
   
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Requisitos y conducta del usuario" ></nz-card-meta>
      <p>
        Usted no podrá autorizar a terceros a utilizar su Cuenta. No podrá ceder o transferir de otro modo su Cuenta a
        cualquier otra persona o entidad. Usted acuerda cumplir con todas las leyes aplicables al utilizar los Servicios
        y solo podrá utilizar los Servicios con fines legítimos (p. ej., no para el transporte de materiales ilegales o
        peligrosos). En el uso de los Servicios, no causará estorbos, molestias, incomodidades o daños a la propiedad,
        tanto al Tercero proveedor como a cualquier otra parte. En algunos casos, se le podrá requerir que facilite un
        documento de identidad u otro elemento de verificación de identidad para el acceso o uso de los Servicios, y
        usted acepta que se le podrá denegar el acceso o uso de los Servicios si se niega a facilitar el documento de
        identidad o el elemento de verificación de identidad.
      </p>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Mensajes de texto" ></nz-card-meta>
      <p>
        Al crear una Cuenta, usted acepta que los Servicios le puedan enviar mensajes de texto informativos (SMS) como
        parte de la actividad comercial normal de su uso de los Servicios. Usted podrá solicitar la no recepción de
        mensajes de texto informativos (SMS) de And en cualquier momento en la siguiente dirección www.appsand.com.mx
        indicando que no desea recibir más dichos mensajes, junto con el número de teléfono del dispositivo móvil que
        recibe los mensajes. Usted reconoce que solicitar la no recepción de mensajes de texto informativos (SMS) podrá
        afectar al uso que usted haga de los Servicios.
      </p>
 
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Códigos promocionales"></nz-card-meta>
      <p>
        And podrá, a su sola discreción, crear códigos promocionales que podrán ser canjeados por crédito de Cuenta u
        otros elementos o beneficios relacionados con los Servicios y/o los servicios de un Tercero proveedor, con
        sujeción a cualquier condición adicional que And establezca sobre la base de cada código promocional
        (“Códigos promocionales”). Usted acuerda que los Códigos promocionales:
      </p>
      <ol>
        <li>Deben usarse para la audiencia y el propósito deseado, y de manera lícita;</li>
        <li>No podrán duplicarse, venderse o transferirse de ninguna manera, o ponerse a disposición del público general
          (tanto si se publican en un foro público como de otra forma), a menos que sea con el permiso de And;</li>
        <li>Podrán ser invalidados por And en cualquier momento por cualquier motivo sin responsabilidad para And;
        </li>
        <li>Podrán usarse solo conforme a las condiciones específicas que And establezca para dicho Código
          promocional;</li>
        <li>No son válidos como efectivo; y</li>
        <li>Podrán caducar antes de que usted los utilice.</li>
      </ol>
      <p>
        And se reserva el derecho de retener o deducir el crédito u otros elementos o beneficios obtenidos a través
        de la utilización de los Códigos promocionales por usted o cualquier otro usuario en el caso de que And
        determine o crea que el uso o el canje de los Códigos promocionales fue de modo erróneo, fraudulento, ilegal o
        infringiendo las condiciones del Código promocional o las presentes Condiciones.
      </p>
   
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="4. Pago"></nz-card-meta>
      <p>
        Usted entiende que el uso de los Servicios puede derivar en cargos por los servicios o bienes que reciba de un
        Tercer proveedor (“Cargos”). Después de que haya recibido los servicios u obtenido los bienes mediante el uso de
        los Servicios, And, como agente de cobro limitado, facilitará el pago de los Cargos aplicables en nombre del
        Tercero proveedor. El pago de los Cargos de dicha manera se considerará como el pago efectuado directamente por
        usted al Tercero proveedor. Los Cargos incluirán los impuestos aplicables cuando se requiera por ley. Los Cargos
        pagados por usted son definitivos y no reembolsables, a menos que And determine lo contrario. And
        responderá en consecuencia a cualquier solicitud de un Tercero proveedor para modificar los Cargos por un
        servicio o bien en particular. Los cargos pueden incluir otras cuotas, peajes y/o recargos aplicables,
        incluyendo cuotas por solicitud, cuotas o cargos municipales, estatales o nacionales/federales, cargos por
        demoras, recargos aeroportuarios o tarifas de procesamiento por pagos fraccionados, entre otros que sean
        aplicables. Visite <a href="www.appsand.com.mx">www.appsand.com.mx</a> para obtener más información sobre las
        tarifas estimadas de su viaje en su ubicación en particular.
      </p>
      <p>
        And, se reserva el derecho de eliminar y/o modificar los Cargos para alguno o todos los servicios o bienes
        obtenidos a través del uso de los Servicios, a su solicitud. And usará los esfuerzos razonables para
        informarle de los Cargos que podrán aplicarse, siempre y cuando usted sea responsable de los Cargos incurridos
        en su Cuenta, independientemente de que usted conozca dichos Cargos o los importes de estos. And podrá,
        cuando lo considere oportuno, proporcionar a determinados usuarios ofertas promocionales y descuentos que pueden
        resultar en el cobro de diferentes importes por estos o similares servicios o bienes obtenidos a través del uso
        de los Servicios, y usted acepta que dichas ofertas promocionales y descuentos, a menos que también se pongan a
        su disposición, no se tendrán en cuenta en el uso por su parte de los Servicios o los Cargos aplicados a usted.
      </p>
   
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle=" Tarifa de reparación, limpieza o cargos por objetos olvidados."></nz-card-meta>   
    <div >
      <p>
        En el supuesto de que derivado del uso de los Servicios y/o el uso de su Cuenta ocasione daños o gastos de
        limpieza al vehículo del Tercero proveedor, Usted será responsable del costo de la reparación de dichos daños o
        de la limpieza necesaria de los vehículos y las propiedades del Tercero proveedor, que se ocasionen por el uso
        de los Servicios en su Cuenta que sobrepasen los daños considerados normales por “el desgaste” y la limpieza
        necesaria (“Reparación o Limpieza”).
      </p>
      <p>
        En el caso, que un Tercero proveedor reporte a And la necesidad de reparación o limpieza y estos sean
        debidamente acreditados por el Tercero proveedor, usted acepta expresamente y otorga su consentimiento para que
        And realice el cargo a su cuenta como agente facilitador de pago del Tercero proveedor por el costo razonable
        de dicha reparación o limpieza en nombre del Tercero proveedor utilizando el método de pago indicado en su
        Cuenta, lo anterior, de conformidad con los valores que se establecen más adelante.
      </p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="5. Renuncias Limitación de Responsabilidad."></nz-card-meta>   
    <div>
      <p>
        Los servicios se proporcionan “tal cual” y “como disponibles”. And renuncia a toda declaración y garantía,
        expresa, implícita o estatutaria, no expresamente establecida en estas condiciones, incluidas las garantías
        implícitas de comerciabilidad, idoneidad para un fin particular y no violación. Además, And no hace
        declaración ni presta garantía alguna relativa a la fiabilidad, puntualidad, calidad, idoneidad o disponibilidad
        de los servicios o cualquiera de los servicios o bienes solicitados a través del uso de los servicios, o que los
        servicios no serán interrumpidos o estarán libres de errores. And no garantiza la calidad, idoneidad,
        seguridad o habilidad de los terceros proveedores. Usted acuerda que todo riesgo derivado de su uso de los
        servicios y cualquier servicio o bien solicitado en relación con aquellos será únicamente suyo, en la máxima
        medida permitida por la ley aplicable.
      </p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Limitación de Responsablidad|."></nz-card-meta>
   
    <div nz-card-content>
      <p>
        And no será responsable de daños indirectos, incidentales, especiales, ejemplares, punitivos o emergentes,
        incluidos el lucro cesante, la pérdida de datos, la lesión personal o el daño a la propiedad, ni de perjuicios
        relativos, o en relación con, o de otro modo derivados de cualquier uso de los servicios, incluso aunque And
        haya sido advertido de la posibilidad de dichos daños. And no será responsable de cualquier daño,
        responsabilidad o pérdida que deriven de:
        (I) Su uso o dependencia de los servicios o su incapacidad para acceder o utilizar los servicios; o
        (II) Cualquier transacción o relación entre usted y cualquier tercero proveedor, aunque And hubiera sido
        advertido de la posibilidad de dichos daños. And no será responsable del retraso o de la falta de ejecución
        resultante de causas que vayan más allá del control razonable de And. Usted reconoce que los terceros
        proveedores de transporte que presten servicios de transporte solicitados a través de algunas marcas de pedidos
        ofrecen servicios de coche compartido y puede que no dispongan de la licencia o del permiso profesional.
        En ningún caso la responsabilidad total de And hacia usted en relación con los servicios por todos los daños,
        las pérdidas y los juicios podrá exceder de doscientos euros (€200) o su equivalente en moneda nacional.
        Usted podrá utilizar los servicios de And para solicitar y planificar servicios de transporte, bienes o
        logísticos con terceros proveedores, pero acepta que And no tiene responsabilidad alguna hacia usted en
        relación con cualquier servicio de transporte, bienes o logístico prestado a usted por terceros proveedores que
        no sea como se ha establecido expresamente en estas condiciones.
      </p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Indemnidad."></nz-card-meta>    
    <div nz-card-content>
      <p>
        Usted acuerda mantener indemnes y responder frente aAnd y sus consejeros, directores, empleados y agentes
        por cualquier reclamación, demanda, pérdida, responsabilidad y gasto (incluidos los honorarios de abogados) que
        deriven de:
        (i) su uso de los Servicios o servicios o bienes obtenidos a través de su uso de los Servicios;
        (ii) Su incumplimiento o violación de cualquiera de estas Condiciones;
        (iii) El uso por parte de And de su Contenido de usuario; o
        (iv) Su infracción de los derechos de cualquier tercero, incluidos Terceros proveedores.
      </p>
    </div>
  </nz-card>


  <nz-card>
    <nz-card-meta nzTitle="6. Propiedad intelectual"></nz-card-meta>
    <div nz-card-meta>
      <p>
        And y su respectivo diseño es una marca registrada ante el Instituto Mexicano de la Propiedad Industrial, por
        lo que queda expresamente prohibido cualquier uso de la misma o de cualquier signo identificativo similar que
        pueda llevar a confusión sobre su origen o titularidad, por terceros y sin previa autorización por escrito de su
        titular.
      </p>
      <p>
        La dirección electrónica www.appsAnd.com.mx es un dominio registrado por And. Este dominio y las marcas And
        no pueden ser utilizadas, salvo previa autorización expresa y por escrito de su titular, en conexión con otros
        Productos o servicios que no sean de And, por lo que de ninguna manera que pueda causar confusión entre
        nuestros Clientes o descrédito de And.
      </p>
      <p>
        And o sus licenciantes y licenciatarios ostentan, ya sea por sí mismos o en virtud de la celebración de algún
        contrato con terceros, los derechos necesarios sobre el contenido, diseño y código fuente del Sitio Web y, en
        especial, con carácter enunciativo, pero no limitativo, los derechos necesarios sobre las fotografías, imágenes,
        textos, logos, diseños, marcas, nombres comerciales y datos que se incluyen en el Sitio Web.
      </p>
      <p>
        Asimismo, el contenido de este Sitio Web también tiene el carácter de programa informático, y por lo tanto, le
        resulta también de aplicación la normatividad mexicana vigente en materia de derechos de autor.
      </p>
      <p>
        Queda expresamente prohibida la reproducción total o parcial de este Sitio Web, ni siquiera mediante un
        hipervínculo, ni de cualquiera de sus contenidos, sin la previa autorización expresa y por escrito de And.
      </p>
      <p>
        Asimismo, queda totalmente prohibida la copia, reproducción, adaptación, modificación, distribución,
        comercialización, comunicación pública y/o cualquier otra acción respecto al Sitio Web que conlleve una
        infracción de la normativa vigente en los Estados Unidos Mexicanos y/o de carácter internacional en materia de
        propiedad intelectual y/o industrial, así como el uso de los contenidos del Sitio Web si no es con la previa
        autorización expresa y por escrito de And.
      </p>
      <p>
        And informa que no concede licencia o autorización expresa o implícita alguna sobre los derechos de propiedad
        intelectual y/o industrial o sobre cualquier otro derecho o propiedad relacionado, directa o indirectamente, con
        los contenidos incluidos en el Sitio Web.
      </p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="7. Responsabilidad de And."></nz-card-meta>
    <div nz-card-meta>
      <p>
        And lleva a cabo sus mejores esfuerzos para asegurar la disponibilidad no interrumpida del Sitio Web y
        aplicación. Sin embargo, el acceso puede verse temporalmente interrumpido por tareas de mantenimiento, por la
        subida de actualizaciones, nuevos Productos o por cuestiones ajenas a And.
      </p>
      <p>
        And no asume responsabilidad alguna derivada, a título enunciativo, pero no limitativo:
      </p>
      <ol>
        <li>a) De la utilización que los Clientes o Usuarios puedan hacer de los servicios del Sitio Web o aplicación,
          ya sean prohibidos o permitidos, en infracción de los derechos de propiedad intelectual y/o industrial de
          contenidos de la web o de terceros.</li>
        <li>b) De las infracciones en materia de propiedad intelectual e industrial que terceros colaboradores de  And
          pudieran cometer en relación con los Productos o con los materiales suministrados para la venta de productos
          y/o servicios.</li>
        <li>c) De los eventuales daños y perjuicios causados a los Clientes o Usuarios como consecuencia de un
          funcionamiento normal o anormal de las herramientas de búsqueda, de la organización o la localización de los
          contenidos y/o acceso al Sitio Web o Aplicación y, en general, de los errores o problemas que se generen en el
          desarrollo o instrumentación de los elementos técnicos que el Sitio Web o Aplicación para el uso del Cliente o
          Usuario.</li>
        <li>d) De los contenidos de aquellas páginas a las que los Clientes o Usuarios puedan acceder desde enlaces
          incluidos en el Sitio Web o Aplicación, ya sean autorizados o no.</li>
        <li>e) Del acceso de menores de edad a los contenidos incluidos en el Sitio Web o Aplicación, siendo
          responsabilidad de sus padres o tutores ejercer un control adecuado sobre la actividad de los menores a su
          cargo o bien, instalar alguna de las herramientas de control del uso de Internet con el objeto de evitar el
          acceso a materiales o contenidos no aptos para menores, así como el envío de datos personales sin la previa
          autorización o consentimiento de sus padres o tutores.</li>
        <li>f) De errores o retrasos en el acceso al Sitio Web o Aplicación por parte del Cliente al momento de
          introducir sus datos en el proceso de registros, cuando estas incidencias sean debidas a problemas en la red
          Internet, causadas por caso fortuito o fuerza mayor y cualquier otra contingencia imprevisible ajena a la
          buena fe de And.</li>
        <li>g) De fallos o incidencias que pudieran producirse en las comunicaciones, borrado o transmisiones
          incompletas, de manera que no se garantiza que el Sitio Web o Aplicación estén constantemente operando.</li>
        <li>h) De los errores o daños producidos al Sitio Web o Aplicación por un uso ineficiente y de mala fe por parte
          del Cliente o Usuario.</li>
        <li>i) De la no operatividad o problemas en la dirección de correo electrónico facilitada por el Cliente para el
          envío de la confirmación del servicio.</li>
        <li>j) And se compromete a solucionar los problemas que puedan surgir y a ofrecer todo el apoyo necesario al
          Cliente para llegar a una solución rápida y satisfactoria de las incidencias que puedan surgir en el Sitio Web
          o Aplicación.</li>
      </ol>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="8. Redes Sociales y Publicidad"></nz-card-meta>
    <div nz-card-meta>
      <p>And informa a los Clientes y Usuarios que dispone de un perfil en las siguientes Redes Sociales: [Facebook,
        Twitter, LinkedIn, Pinterest, YouTube, e Instagram] (cada una de ellas, de forma indistinta, una “Red Social”).
        Todas ellas, creadas, con la finalidad principal de publicitar los Productos o Servicios de And.</p>
      <p>El Cliente o Usuario podrá unirse a los Grupos o Perfiles que And tiene en distintas Redes Sociales. El
        Usuario que se haga seguidor de alguno de estos Grupos o Perfiles, mostrando así interés en la información que
        se publicite en la Red Social, acepta las condiciones de uso y política de privacidad de la Red Social
        correspondiente.</p>
      <p>And podrá tener acceso y tratar aquella información de carácter público del Usuario, en concreto, su nombre
        de contacto. Estos datos sólo serán usados dentro de la propia Red Social y no serán incorporados a ninguna base
        de datos, salvo que se indique lo contrario.</p>
      <p>El Usuario puede acceder en todo momento a las políticas de privacidad de la propia Red Social, así como
        configurar su perfil para garantizar su privacidad, conforme a los términos y condiciones de uso de cada una de
        dichas Redes Sociales.</p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Utilización del perfil"></nz-card-meta>
    <div nz-card-meta>
      <p>And realizará las siguientes actuaciones:</p>
      <ol>
        <li>(i) Acceso a la información pública del perfil.</li>
        <li>(ii) A solicitud del Usuario, publicación en el perfil del Usuario de información que, previamente, ya haya
          sido publicada en la página de And.</li>
        <li>(iii) Enviar mensajes individuales a través de los canales de la Red Social, cuando estén permitidos.</li>
        <li>(iv) Actualizaciones del estado de la página que se mostrarán en el perfil del Usuario.</li>
      </ol>
      <p>El Usuario, en todo momento, podrá controlar sus conexiones, así como suprimir aquel contenido que deje de
        interesarle. También, podrá modificar y restringir con quién comparte sus conexiones a través de su
        configuración de privacidad.</p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta
      nzTitle="Concursos, promociones y sorteos en el Sitio Web, Aplicación y Redes Sociales"></nz-card-meta>
    <div nz-card-meta>
      <p>And se reserva el derecho a realizar concursos, promociones y sorteos, en los que podrá participar el
        Usuario que esté unido a su página. Las bases de cada uno de ellos, cuando se haga a través de la plataforma de
        la correspondiente Red Social, serán publicadas en la misma, de acuerdo con la legislación aplicable y vigente.
      </p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Publicidad de And"></nz-card-meta>
    <div nz-card-meta>
      <p>And podrá utilizar cualquier Red Social para publicitar sus Productos o Servicios. En el supuesto que
        decidiera tratar sus datos de contacto para realizar acciones directas de prospección comercial, será siempre
        cumpliendo con la normativa vigente y las de la propia plataforma.</p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Blogs y Foros"></nz-card-meta>
    <div nz-card-meta>
      <p>Los Usuarios tienen la posibilidad de introducir contenidos en los blogs y foros de And, a modo de
        comentarios o fotografías. La publicación de los contenidos está sujeta a las presentes Condiciones de Uso.</p>
      <p>La persona identificada, en cada caso, como la que ha remitido los contenidos será responsable de los mismos.
        Los contenidos, no reflejarán, de ningún modo, la opinión de And.</p>
      <p>And no se responsabiliza de los posibles errores, inexactitudes o irregularidades que puedan contener los
        contenidos publicados, así como de los daños o perjuicios que se pudieran derivar por la inserción de los
        contenidos en las secciones de la Red Social u otras plataformas que, en su caso, permitan esta clase de
        servicios.</p>
      <p>El Usuario suministrador de los contenidos cede a And, de manera irrevocable, en cualquier tipo de soporte,
        los derechos para su reproducción, uso, distribución, comunicación pública o cualquier otro tipo de actividad
        sobre los mismos.</p>
      <p>Asimismo, el Usuario suministrador declara ser el titular de los derechos sobre los contenidos, en su caso, o
        garantiza que dispone de los derechos y autorizaciones necesarios del autor o propietario, para su uso por parte
        de And.</p>
      <p>And no se responsabiliza, de los daños o perjuicios que se pudieran ocasionar por el uso, reproducción,
        distribución o comunicación pública o cualquier otro tipo de actividad que realice sobre los contenidos que se
        encuentren protegidos por derechos de propiedad intelectual pertenecientes a terceros, sin que el Usuario haya
        obtenido, debidamente, de sus titulares la autorización necesaria para llevar a cabo el uso que pretenda
        efectuar.</p>
      <p>And se reserva el derecho de retirar, en cualquier momento, y, de forma unilateral los contenidos en
        cualquier sección de la web de la Red Social, cuando, por su contenido, And lo estime pertinente.</p>
      <p>And tampoco será responsable por la información enviada por el Usuario cuando no tenga conocimiento efectivo
        de que la información almacenada es ilícita o de que pueda lesionar bienes o derechos de un tercero,
        susceptibles de indemnización. En el momento que se tenga conocimiento efectivo de que contiene datos como los
        anteriormente referidos, And se compromete a actuar con diligencia para retirarlos o hacer imposible el
        acceso a ellos.</p>     
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Pubicidad y enlaces de tercero en el sitio web y redes sociales"></nz-card-meta>
    <div nz-card-meta>
      <p>Parte del Sitio Web podrán incluir contenidos publicitarios o estar patrocinado. Los anunciantes y
        patrocinadores serán los únicos responsables de asegurarse de que el material remitido para su inclusión en el
        Sitio Web cumple diligentemente con las leyes que en cada caso puedan ser de aplicación.</p>
      <p>And no será responsable de cualquier error, inexactitud o irregularidad que puedan incluir los contenidos
        publicitarios o de los patrocinadores.</p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Enlaces de terceros"></nz-card-meta>
    <div nz-card-meta>
      <p>Los destinos de los vínculos y enlaces que puedan aparecer en las webs y otras plataformas no están bajo el
        control de And.</p>
      <p>And no es responsable del contenido de ninguno de los sitios destino de un enlace, ni de ningún enlace
        incluido en un sitio al que se llegue desde el Sitio Web de And ni de ningún cambio o actualización de dichos
        sitios.</p>
      <p>Estos enlaces se proporcionan únicamente para informarle sobre la existencia de otras fuentes de información
        sobre un tema concreto, y la inclusión de un enlace no implica la aprobación de la página web enlazada por parte
        de And.</p>
      <p>Por otra parte, se permite el establecimiento de vínculos con este Sitio Web únicamente a nivel de la página de
        inicio, sin que el establecimiento de dicho vínculo implique la aprobación por And del sitio enlazado o su
        contenido. Asimismo, se prohíbe:</p>
      <ol>
        <li>El establecimiento de vínculos profundos sin la autorización previa por escrito de And.</li>
        <li>El enmarcado del presente Sitio Web con sitios o elementos de sitios ajenos a AndU.</li>
        <li>La vinculación en línea y la incorporación por cualquier otro medio de elementos del presente Sitio Web en
          los sitios pertenecientes a personas o entidades ajenas a And.</li>
      </ol>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="NULIDAD PARCIAL"></nz-card-meta>
    <div nz-card-meta>
      <p>En caso de que cualquier cláusula o disposición de las presentes Condiciones de Uso sea declarada nula, las
        demás cláusulas o disposiciones seguirán vigentes y se interpretarán teniendo en cuenta el objeto e integridad
        del contenido de estas Condiciones de Uso.</p>
      <p>El no ejercicio por parte de And de cualquier derecho derivado de estas Condiciones de Uso no se
        interpretará como renuncia a dicho derecho, salvo renuncia expresa y por escrito por parte de And o que se
        hubiere fijado un plazo determinado para el ejercicio del derecho que, en cada caso, corresponda.</p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="MODIFICACIÓN DE LAS CONDICIONES DE USO"></nz-card-meta>
    <div nz-card-meta>
      <p>And se reserva el derecho de modificar, en cualquier momento y sin previo aviso, la presentación y
        configuración del Sitio Web o Aplicación, así como las Condiciones de Uso y la Política de Privacidad. Los
        Clientes y Usuarios siempre dispondrán de estas Condiciones de Uso en un sitio visible, libremente accesible
        para cuantas consultas quieran realizar. Los Clientes y Usuarios deberán leer atentamente estas Condiciones de
        Uso. En cualquier caso, la aceptación de las Condiciones de Uso vigentes en cada momento será un paso previo e
        indispensable a la adquisición de cualquier Productos o Servicios disponibles a través del Sitio Web o
        Aplicación.</p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="CESIÓN DE DERECHOS Y OBLIGACIONES"></nz-card-meta>
    <div nz-card-meta>
      <p>And podrá ceder y/o transmitir libremente, en cualquier momento y de conformidad con la normativa aplicable,
        los derechos y obligaciones que le correspondan en relación con estas Condiciones de Uso o la adquisición de los
        Productos o Servicios a través del Sitio Web o Aplicación. Por su parte, el Cliente no podrá transmitir, ceder o
        en cualquier otra forma enajenar las obligaciones que le correspondan conforme a estas Condiciones de Uso, salvo
        que cuente con el consentimiento previo y por escrito de And.</p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="LEGISLACIÓN APLICABLE; RESOLUCIÓN DIRECTA."></nz-card-meta>
    <div nz-card-meta>
      <p>En caso de que usted tenga algún problema con el uso de los Servicios y/o considere que alguna parte de las
        presentes Condiciones no está siendo observada o cumplida por And y/o el Tercero proveedor, o de presentarse
        cualquier diferencia entre las Partes derivada o relacionada con las presentes Condiciones, usted acepta que el
        proceso a seguir consiste en comunicar dicha situación ya sea en la página web www.appsAnd.com.mx 
         con el propósito de analizar y resolver el caso concreto.</p>
      <p>Las presentes Condiciones de Uso se rigen por la legislación de los Estados Unidos Mexicanos que resulte
        aplicable en cada caso.</p>
      <p>En caso de controversia que se derive de las presentes Condiciones de Uso y para la resolución de cualesquiera
        conflictos, las partes acuerdan someterse, con renuncia a cualquier otro fuero o jurisdicción al que pudieran
        tener derecho, a los tribunales competentes con sede en la Ciudad de Monterrey, Nuevo León.</p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Reclamaciones por infracción de derechos de autor."></nz-card-meta>
    <div nz-card-meta>
      <p>Las reclamaciones por infracción de derechos de autor deberán enviarse al agente designado de And. Visite la
        página web de Anden www.appsAnd.com.mx para obtener las direcciones designadas e información adicional.</p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Notificaciones."></nz-card-meta>
    <div nz-card-meta>
      <p>And podrá notificar por medio de una notificación general en los Servicios, mediante un correo electrónico
        enviado a su dirección electrónica en su Cuenta o por comunicación escrita enviada a su dirección, según lo
        dispuesto en su Cuenta. Usted podrá notificar a And por comunicación escrita a la dirección de And en
        (paseo de los leones #1210 Col. Cumbres 1er sector CP. 64610, Monterrey N.L.).</p>
    </div>
  </nz-card>

  <nz-card>
    <nz-card-meta nzTitle="Disposiciones generales."></nz-card-meta>
    <div nz-card-meta>
      <p>No podrá ceder ni transferir estas Condiciones, en todo o en parte, sin el consentimiento previo por escrito de
        And. Usted da su aprobación a And para ceder o transferir estas Condiciones, en todo o en parte, incluido
        a:</p>
      <ul>
        <li>(i) una subsidiaria o un afiliado;</li>
        <li>(ii) Un adquirente del capital, del negocio o de los activos de And</li>
        <li>(iii) Un sucesor por fusión.</li>
      </ul>
      <p>No existe entre usted, And o cualquier Tercer proveedor una empresa conjunta o relación de socios, empleo o
        agencia como resultado del contrato entre usted y And o del uso de los Servicios.</p>
      <p>Si cualquier disposición de estas Condiciones se considerara ilegal, nula o inexigible, ya sea en su totalidad
        o en parte, de conformidad con cualquier legislación, dicha disposición o parte de esta se considerará que no
        forma parte de estas Condiciones, aunque la legalidad, validez y exigibilidad del resto de las disposiciones de
        estas Condiciones no se verá afectada. En ese caso, las partes deberán reemplazar dicha disposición ilegal, nula
        o inexigible, en todo o en parte por una disposición legal, válida y exigible que tenga, en la medida de lo
        posible, un efecto similar al que tenía la disposición ilegal, nula o inexigible, dados los contenidos y el
        propósito de estas Condiciones.</p>
      <p>Estas Condiciones constituyen el contrato íntegro y el entendimiento entre las partes en relación con el objeto
        y sustituye y reemplaza a todos los contratos o acuerdos anteriores o contemporáneos en relación con dicho
        objeto. En estas Condiciones, las palabras “incluido/a/os/as” e “incluye/n” significan “incluido, de forma
        meramente enunciativa”.</p>
    </div>
  </nz-card>
</div>
<div *nzModalFooter>
  <button nz-button style=" background-color: #4F6F57; color: #f6f3ea;" (click)="destroyModal()">Regresar</button>
  <button nz-button style=" background-color: #4F6F57; color: #f6f3ea;" (click)="destroyModal()">Aceptar</button>
</div>