<nz-page-header class="site-page-header"  style="background-color:#f9fbfd;">
    <!--title-->
    <nz-page-header-title>Promociones</nz-page-header-title>

    <!--subtitle-->
    <nz-page-header-subtitle>Promociones de esta empresa</nz-page-header-subtitle>

    <nz-page-header-extra>
        <div class="site-page-header-ghost-wrapper">
            <nz-page-header [nzGhost]="false">
                <nz-page-header-extra>
                    <button nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="showCreateModal()">Agregar Promocion</button>
                </nz-page-header-extra>
            </nz-page-header>
        </div>
    </nz-page-header-extra>
    <!--content-->
    <nz-page-header-content>
        <div nz-row>
            <div class="content">
                <i nz-icon  nzTheme="outline" class="search-icon"></i>
                <input placeholder="Buscar" #searchBar (keyup)="getItems(searchBar.value)">
            </div>
        </div>
    </nz-page-header-content>
</nz-page-header>
<br />
<nz-table #basicTable [nzData]="promotionsList" [nzPageSize]="pageSize3" [nzLoading]="loadingLatestPurchases"
[nzLoadingDelay]="500" *ngIf="promotionsList">
<thead>
    <tr>
      <th >Activo</th>
      <th >Nombre</th>
      <th >Descripción</th>
      <th >Desde </th>
      <th >Hasta</th>
      <th >Fecha Creación</th>
      <th >Imagen</th>
      <th ></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data" (click)="promotionSelected(data)">
        <td>
            <nz-tag *ngIf="data.active" [nzColor]="'cyan'">Activo</nz-tag>
            <nz-tag *ngIf="!data.active" [nzColor]="'red'">Suspendido</nz-tag>
        </td>
        <td>
            <nz-tag [nzColor]="'blue'">{{ data.name }}</nz-tag>
        </td>
        <td>
            <nz-tag [nzColor]="'blue'">{{ data.description }}</nz-tag>
        </td>
        <td>
            <span nz-text nzType="secondary">              
                {{ data.validFrom ? (data.validFrom.toDate() | date: 'mediumDate') : '' }}
              </span>
        </td>
        <td>
            <span nz-text nzType="secondary">      
                {{ data.validTo ? (data.validTo.toDate() | date: 'mediumDate') : '' }}
              </span>
        </td>
        <td>
            <span nz-text nzType="secondary">      
                {{ data.date_created ? (data.date_created.toDate() | date: 'mediumDate') : '' }}
              </span>
        </td>
        <td>            
            <a href="{{ data.imageUrl }}" target="_blank">Ver Imagen</a>
        </td>
        <td>
            <a nz-dropdown [nzDropdownMenu]="chatSetting">
                <i nz-icon nzType="more" nzTheme="outline"></i>
              </a>
              <nz-dropdown-menu #chatSetting="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="diactivePromotion(false,data.id)" *ngIf="data.active">Suspender
                    Promoción
                  <li nz-menu-item (click)="diactivePromotion(true,data.id)" *ngIf="!data.active">Reactivar
                    Promoción
                  </li>

                  <li nz-menu-item (click)="editPromotion(data.id, data.name, data.description,data.validFrom.toDate(), data.validTo.toDate())">Editar Promoción</li>
                  <li nz-menu-item (click)="deletePromotiom(data.id)">Borrar Promocióm</li>
                </ul>
              </nz-dropdown-menu>
        </td>
    </tr>
  </tbody>
</nz-table>


<nz-modal [(nzVisible)]="isCreateVisible" nzTitle="Agregar Promoción"  (nzOnCancel)="handleCancel()"
    (nzOnOk)="createPromotion()"  [nzContent]="modalContent">    
</nz-modal>
<ng-template #modalContent>
    <form nz-form nzLayout="vertical" [formGroup]="programForm" (ngSubmit)="createPromotion()">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <nz-form-item>
                    <nz-form-label>Nombre</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="name" id="descriptioA" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-12 col-sm-12">
                <nz-form-item>
                    <nz-form-label>Descripción</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="description" id="descriptioA" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-7 col-sm-12">
                <nz-form-item>
                    <nz-form-label>Fecha Inicio</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker formControlName="validFrom"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-7 col-sm-12">
                <nz-form-item>
                    <nz-form-label>Fecha Fin</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker formControlName="validTo"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-7 col-sm-12">
                <nz-form-item>
                    <nz-form-label>Fecha de Creación</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker formControlName="date_created"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-12 col-sm-12">
                <nz-form-item>
                    <nz-form-label>Adjuntar Promoción</nz-form-label>
                    <nz-form-control>
                        <nz-upload zAction="/api/posts/"  nzListType="picture-card"
                            [(nzFileList)]="fileList" [nzShowButton]="true" [nzShowUploadList]="showUploadList"
                            [nzPreview]="handlePreview" (nzChange)="handleChange2($event)">
                            <i nz-icon></i>
                            <div class="ant-upload-text">Cargar</div>
                        </nz-upload>
                        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                            (nzOnCancel)="previewVisible = false">
                        </nz-modal>
                    </nz-form-control>
                    <ng-template #modalContent>
                        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                    </ng-template>
                </nz-form-item>
            </div>
        </div>
    </form>
</ng-template>


<nz-modal [(nzVisible)]="isEditVisible" nzTitle="Editar Promoción" (nzOnCancel)="handleCancel()"
    (nzOnOk)="editSavePromotion()" [nzContent]="modalContentEdit">
</nz-modal>
<ng-template #modalContentEdit>
    <form nz-form nzLayout="vertical" [formGroup]="programEditForm" (ngSubmit)="editSavePromotion()">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <nz-form-item>
                    <nz-form-label>Nombre</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="name" id="descriptioA" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-12 col-sm-12">
                <nz-form-item>
                    <nz-form-label>Descripción</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="description" id="descriptioA" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-7 col-sm-12">
                <nz-form-item>
                    <nz-form-label>Fecha Inicio</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker formControlName="validFrom"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-7 col-sm-12">
                <nz-form-item>
                    <nz-form-label>Fecha Fin</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker formControlName="validTo"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</ng-template>